body{
    font-family: 'Oswald', sans-serif;
    background: #101c2c;
    color: #fff;
}
header{
    .__logo{
        height: 54px;
    }
}
.card{
    background: 0;
    .card-img-overlay{
        display: none;
        background-color: rgba(0,0,0,0.3);
        transition: display 1s;
    }
    &:hover{
        .card-img-overlay{
            display: block;
        }
    }
}
.hscroll{
    min-height: 100px;
    overflow-x: auto;
    &::-webkit-scrollbar {
        display: none;
      }
    &>div>div{
        min-width: 200px;
        margin: 15px;
        img{
            max-width: 200px;
        }
    }
}
